@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeue.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeueBd.ttf);
  font-weight: 800; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeueHv.ttf);
  font-weight: 900; }

@font-face {
  font-family: 'HelveticaNeueIt';
  src: url(../fonts/HelveticaNeueIt.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeueLt.ttf);
  font-weight: 300; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeueMed.ttf);
  font-weight: 500; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeue\Thin.ttf);
  font-weight: 100; }

@font-face {
  font-family: 'HelveticaCyr';
  src: url(../fonts/HelveticaNeueCyr-Thin.ttf); }

:root {
  --myfont: 'HelveticaNeue', sans-serif; }

.container {
  max-width: 1023px;
  width: 100%;
  margin: 0 auto; }

* {
  box-sizing: border-box;
  margin: 0; }

#scroller {
  position: fixed;
  bottom: 15%;
  right: 6%;
  cursor: pointer;
  display: none;
  transition: 0.5s; }
  #scroller:hover {
    opacity: .5; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 86px;
  width: 100%;
  box-shadow: 1.5px 2.598px 3px rgba(0, 0, 0, 0.31);
  background-color: #fff;
  opacity: 0.9;
  z-index: 10; }
  header .logo {
    text-transform: uppercase;
    font-size: 38px;
    font-family: var(--myfont);
    font-weight: bold;
    display: inline-block;
    padding-left: 17px;
    display: inline-block;
    padding-top: 22px; }
    header .logo span.grey {
      color: #626262; }
    header .logo span.blue {
      color: #06b5a9; }
    header .logo:hover span.grey {
      color: #06b5a9; }
    header .logo:hover span.blue {
      color: #626262; }
  header .container {
    display: flex;
    justify-content: space-between;
    height: 86px; }
  header .menu {
    width: 430px;
    height: 100%;
    margin-left: 22px;
    position: relative; }
    header .menu .dropdown {
      min-width: 595px;
      height: 300px;
      background-color: #cf1a2b;
      position: absolute;
      display: none;
      overflow: hidden;
      z-index: 2; }
      header .menu .dropdown .asideblock {
        display: inline-block; }
        header .menu .dropdown .asideblock .logoo {
          width: 215px;
          height: 70px;
          text-align: center;
          border-top: 1px solid #d94855;
          border-bottom: 1px solid #d94855;
          font-family: var(--myfont);
          text-transform: uppercase;
          font-size: 38px;
          font-weight: bold;
          line-height: 70px; }
          header .menu .dropdown .asideblock .logoo span:first-child {
            color: #fff; }
          header .menu .dropdown .asideblock .logoo span:last-child {
            color: #fec8cd; }
        header .menu .dropdown .asideblock .tie {
          position: relative;
          height: 230px; }
          header .menu .dropdown .asideblock .tie img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
      header .menu .dropdown .center {
        display: inline-flex;
        flex-direction: column;
        border-left: 1px solid #d94855;
        border-right: 1px solid #d94855;
        height: 298px;
        width: 190px;
        margin-left: -4px;
        font-size: 16px;
        box-shadow: inset 0px 25px 16px -34px rgba(0, 0, 0, 0.59); }
        header .menu .dropdown .center a {
          color: #fff;
          text-decoration: none;
          line-height: 30px;
          padding-left: 30px;
          padding-right: 30px;
          font-weight: 500;
          font-family: var(--myfont); }
          header .menu .dropdown .center a:hover {
            background-color: #fff;
            color: #cf1a2b; }
        header .menu .dropdown .center a:first-child {
          margin-top: 28px; }
      header .menu .dropdown .right {
        display: inline-flex;
        flex-direction: column;
        height: 298px;
        width: 190px;
        margin-left: -4px;
        font-size: 16px;
        box-shadow: inset 0px 25px 32px -34px rgba(0, 0, 0, 0.59); }
        header .menu .dropdown .right a {
          color: #fec8cd;
          text-decoration: none;
          line-height: 30px;
          padding-left: 30px;
          padding-right: 30px;
          font-weight: 500;
          font-family: var(--myfont); }
          header .menu .dropdown .right a:hover {
            background-color: #fff;
            color: #cf1a2b; }
        header .menu .dropdown .right a:first-child {
          margin-top: 28px; }
    header .menu .dropdown-contact {
      min-width: 300px;
      min-height: 300px;
      background-color: #cf1a2b;
      position: absolute;
      display: none;
      z-index: 2;
      box-shadow: inset 0px 25px 32px -34px rgba(0, 0, 0, 0.59);
      position: relative; }
      header .menu .dropdown-contact img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
      header .menu .dropdown-contact .fa-instagram {
        font-size: 40px;
        color: #fff;
        position: absolute;
        top: 65%;
        left: 10%; }
        header .menu .dropdown-contact .fa-instagram:hover {
          background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
          background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
      header .menu .dropdown-contact .fa-facebook-square {
        font-size: 40px;
        color: #fff;
        position: absolute;
        top: 65%;
        right: 10%; }
        header .menu .dropdown-contact .fa-facebook-square:hover {
          color: #3b5998; }
      header .menu .dropdown-contact .fa-phone {
        font-size: 40px;
        color: #fff;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%); }
        header .menu .dropdown-contact .fa-phone:hover {
          color: aquamarine; }
    header .menu ul {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      height: 100%; }
      header .menu ul li {
        display: inline-block;
        font-size: 18px;
        color: #626262;
        font-family: var(--myfont);
        font-weight: 500;
        height: 100%;
        padding: 20px;
        padding-top: 36px;
        transition: .5s;
        cursor: pointer; }
        header .menu ul li:nth-child(1) {
          padding-right: 18.5px; }
        header .menu ul li:nth-child(2) {
          padding-right: 16px; }
        header .menu ul li:nth-child(3) {
          padding-right: 24px; }
  header .orders {
    font-size: 24px;
    color: #9d9d9d;
    font-family: var(--myfont);
    font-weight: 500;
    padding-right: 25px;
    padding-top: 31px; }
    header .orders img:first-child {
      margin-left: 2px;
      padding-right: 2px;
      display: inline-block; }
    header .orders img:last-child {
      margin-bottom: 2px;
      margin-right: -3px;
      display: inline-block;
      color: #9d9d9d; }
    header .orders .text {
      display: inline-block;
      padding-right: 5px; }

.banner1 {
  background-image: url(../background/banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  @media all and (max-width: 1366px) {
    .banner1 {
      height: 655px; } }
  .banner1 .filter {
    opacity: 0.3607843137254902;
    background-color: #06b5a9;
    height: inherit;
    width: inherit; }
  .banner1 .leftarrow, .banner1 .rightarrow {
    position: absolute;
    top: 61%;
    transform: translateY(-50%);
    width: 10%;
    height: 50%; }
    .banner1 .leftarrow img.left, .banner1 .rightarrow img.left {
      position: absolute;
      top: 50%;
      left: 18%;
      transform: translateY(-50%); }
    .banner1 .leftarrow img.right, .banner1 .rightarrow img.right {
      position: absolute;
      top: 50%;
      right: 9%;
      transform: translateY(-50%); }
  .banner1 .leftarrow {
    left: 2%; }
  .banner1 .rightarrow {
    right: 2%; }
  .banner1 .leftarrow_click {
    height: 50%;
    width: 10%;
    position: absolute;
    top: 59%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s 0.1s ease; }
    .banner1 .leftarrow_click:hover {
      opacity: 0.5; }
  .banner1 .rightarrow_click {
    height: 50%;
    width: 10%;
    position: absolute;
    top: 59%;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s 0.1s ease; }
    .banner1 .rightarrow_click:hover {
      opacity: 0.5; }
  .banner1 .introtext {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .banner1 .introtext p:nth-child(1) {
      font-size: 22px;
      letter-spacing: 31px;
      padding-top: 8px;
      line-height: 20px;
      color: #ffffff;
      font-family: var(--myfont);
      text-transform: uppercase;
      padding-left: 33px;
      text-shadow: 1px 1px 1px grey; }
    .banner1 .introtext p:nth-child(2) {
      font-size: 116px;
      color: #ffffff;
      font-family: "Impact";
      text-transform: uppercase;
      text-shadow: 1px 1px 2px grey; }

.promos {
  height: 336px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center; }
  .promos .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px; }
    .promos .container .item {
      max-width: 244px;
      width: 100%;
      height: 250px;
      position: relative;
      padding: 15px;
      text-transform: uppercase;
      font-family: var(--myfont);
      transform: translateY(0%);
      transition: transform 0.5s ease-out;
      margin-top: 2px;
      cursor: pointer; }
      .promos .container .item:hover {
        transform: translateY(-10%); }
      .promos .container .item:nth-child(1) {
        background-color: #58dbd3; }
        .promos .container .item:nth-child(1) img {
          position: absolute;
          right: 0;
          top: 2.5%; }
        .promos .container .item:nth-child(1) p.top {
          font-size: 30px;
          color: #fff;
          font-weight: bold;
          padding-left: 7px; }
        .promos .container .item:nth-child(1) .centertext {
          padding: 17px 0 15px 10px;
          color: #fff;
          font-weight: bold; }
          .promos .container .item:nth-child(1) .centertext span.h24px {
            font-size: 24px;
            padding-left: 2px; }
          .promos .container .item:nth-child(1) .centertext span.h22px {
            font-size: 22px;
            line-height: 15px; }
          .promos .container .item:nth-child(1) .centertext span.h20px {
            font-size: 20px;
            line-height: 18px; }
          .promos .container .item:nth-child(1) .centertext span.h18px {
            font-size: 18px;
            line-height: 18px; }
        .promos .container .item:nth-child(1) p.bottom {
          font-size: 49px;
          color: #12867f;
          font-weight: bold;
          padding-left: 14px;
          padding-top: 3px; }
      .promos .container .item:nth-child(2) {
        margin-left: 2px;
        background-color: #e4ce9a; }
        .promos .container .item:nth-child(2) img {
          position: absolute;
          right: 0;
          bottom: 0; }
        .promos .container .item:nth-child(2) p.top {
          font-size: 30px;
          color: #fff;
          font-weight: bold;
          padding-left: 15px;
          line-height: 33px; }
        .promos .container .item:nth-child(2) p.bottom {
          font-size: 49px;
          color: #5e4c38;
          font-weight: bold;
          padding-left: 13px;
          padding-bottom: 10px;
          padding-top: 59px; }
      .promos .container .item:nth-child(3) {
        background-color: #ffa7ce; }
        .promos .container .item:nth-child(3) img {
          position: absolute;
          right: 0;
          bottom: 0; }
        .promos .container .item:nth-child(3) p.top {
          font-size: 30px;
          color: #ffffff;
          font-weight: bold;
          padding-left: 16px;
          line-height: 33px; }
        .promos .container .item:nth-child(3) .centertext {
          padding-top: 6px;
          color: #fff;
          font-weight: bold;
          padding-left: 20px; }
          .promos .container .item:nth-child(3) .centertext span.h20px {
            font-size: 20px;
            line-height: 18px; }
          .promos .container .item:nth-child(3) .centertext span.h18px {
            font-size: 18px; }
        .promos .container .item:nth-child(3) p.bottom {
          font-size: 49px;
          color: #414049;
          font-weight: bold;
          padding-left: 20px;
          padding-top: 11px; }
      .promos .container .item:nth-child(4) {
        background-color: #f2ca66;
        padding: 13px; }
        .promos .container .item:nth-child(4) p.top {
          font-size: 106px;
          color: #fff;
          font-weight: bold;
          transform: scale(1, -1);
          line-height: 90px;
          padding-left: 2px; }
        .promos .container .item:nth-child(4) p.center {
          font-size: 64px;
          color: #fff;
          font-weight: bold;
          padding-left: 39px;
          padding-top: 17px; }
        .promos .container .item:nth-child(4) .bottomtext {
          width: 142px;
          height: 37px;
          background-color: #ffffff;
          font-size: 26px;
          color: #f2ca66;
          font-weight: bold;
          text-align: center;
          padding-top: 3px;
          position: absolute;
          left: 0;
          bottom: 13px;
          margin-left: -1px; }

.categories {
  background-image: url(../background/catregories.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: relative; }
  @media all and (max-width: 1366px) {
    .categories {
      height: 562px; } }
  .categories p {
    font-size: 116px;
    color: #fff;
    font-family: "Josefin Slab";
    text-transform: uppercase;
    font-weight: 400;
    position: absolute;
    top: 50px;
    left: 49.5%;
    transform: translateX(-50%); }

.levis {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  position: relative; }
  @media all and (max-width: 1900px) {
    .levis {
      height: 816px; } }
  .levis .container {
    position: relative;
    height: 100%; }
    .levis .container img.logo {
      position: absolute;
      top: -17px;
      margin-left: 6px; }
    .levis .container img.master {
      display: inline-block;
      margin-left: 57%;
      margin-top: 2%; }
    .levis .container .iteminfo {
      padding: 50px;
      position: absolute;
      margin-top: 147px;
      display: inline-block; }
      .levis .container .iteminfo p.name {
        font-size: 50px;
        color: #1d1d1d;
        font-family: var(--myfont);
        font-weight: bold;
        padding-left: 4px; }
      .levis .container .iteminfo p.description {
        padding-left: 6px;
        padding-top: 13px;
        font-size: 14px;
        line-height: 20px;
        color: #1d1d1d;
        font-family: "HelveticaCyr";
        max-width: 550px;
        width: 100%;
        margin-bottom: 15px; }
      .levis .container .iteminfo .rates {
        margin-top: 10px;
        position: relative;
        width: 550px; }
      .levis .container .iteminfo span.rate {
        font-size: 36px;
        color: #1d1d1d;
        font-family: var(--myfont);
        font-weight: 500;
        position: absolute;
        left: 6px;
        top: 24px; }
      .levis .container .iteminfo span.price {
        font-size: 36px;
        color: #1d1d1d;
        font-family: var(--myfont);
        font-weight: bold;
        position: absolute;
        top: 23px;
        left: 103px; }
      .levis .container .iteminfo button {
        border: none;
        width: 215px;
        height: 48px;
        background-color: #d62132;
        color: #fff;
        font-size: 28px;
        font-family: var(--myfont);
        padding: 9px;
        padding-left: 4px;
        font-weight: 500;
        padding-bottom: 14px;
        line-height: 22px;
        position: absolute;
        top: 13px;
        right: 21.5px;
        cursor: pointer;
        transition: 0.5s; }
        .levis .container .iteminfo button img {
          padding-right: 12px; }
        .levis .container .iteminfo button:hover {
          opacity: .5; }
    .levis .container .models {
      position: absolute;
      bottom: 62px;
      left: 2.5px;
      width: 100.5%;
      display: flex;
      justify-content: space-evenly; }
      .levis .container .models .window {
        border: 1px solid #c5c5c5;
        width: 180px;
        height: 170px;
        background-image: url(../img/jeansmaster.png);
        background-repeat: no-repeat;
        background-size: cover; }
        .levis .container .models .window.active {
          border: 1px solid red; }
      .levis .container .models p {
        text-align: center;
        font-family: var(--myfont);
        font-size: 16px;
        color: #1d1d1d;
        font-weight: 500;
        padding-left: 7px;
        margin-top: 12px; }

footer {
  width: 100%;
  height: 10vh;
  background-color: #1b2330;
  overflow: hidden; }
  @media all and (max-width: 1900px) {
    footer {
      height: 105px; } }
  footer .container {
    padding: 16px 14px 20px 14px;
    position: relative; }
  footer .logo {
    text-transform: uppercase;
    font-size: 38px;
    font-family: var(--myfont);
    font-weight: bold;
    display: inline-block;
    padding-left: 2px;
    padding-top: 2px; }
    footer .logo span.grey {
      color: #626262; }
    footer .logo span.blue {
      color: #06b5a9; }
  footer .copyright {
    font-size: 16px;
    color: #ffffff;
    font-family: var(--myfont);
    color: #626262;
    line-height: 25px;
    font-weight: 500;
    display: block;
    padding-left: 3px; }
  footer .socials {
    display: inline;
    position: absolute;
    right: 15px; }
    footer .socials img {
      padding-left: 35px;
      padding-top: 10px; }
      footer .socials img:first-child {
        padding-left: 39px; }
