@font-face{
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeueBd.ttf);
    font-weight: 800;
}
@font-face{
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeueHv.ttf);
    font-weight: 900;
}
@font-face{
    font-family: 'HelveticaNeueIt';
    src: url(../fonts/HelveticaNeueIt.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeueLt.ttf);
    font-weight: 300;
}
@font-face{
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeueMed.ttf);
    font-weight: 500;
}
@font-face{
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue\Thin.ttf);
    font-weight: 100;
}
@font-face{
    font-family: 'HelveticaCyr';
    src: url(../fonts/HelveticaNeueCyr-Thin.ttf);
}

:root{
    --myfont: 'HelveticaNeue', sans-serif; //font-family: var(--myfont);
}

.container{
    max-width: 1023px;
    width: 100%;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
    margin: 0;
}


#scroller{
    position: fixed;
    bottom: 15%;
    right: 6%;
    cursor: pointer;
    display: none;
    transition: 0.5s;
    &:hover{
        opacity: .5;
    }
}


#scrolltobottom{
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    opacity: 0;
    i:first-child{
        font-size: 32px;
    }
    i:last-child{
        font-size: 22px;
    }
}

