header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 86px;
    width: 100%;
    box-shadow: 1.5px 2.598px 3px rgba(0,0,0,0.31);
    background-color: #fff ;
    opacity: 0.9;
    z-index: 10;
    .logo{
        text-transform: uppercase;
        font-size: 38px;
        font-family: var(--myfont);
        font-weight: bold;
        display: inline-block;
        padding-left: 17px;
        display: inline-block;
        padding-top: 22px;
        span.grey{
            color: #626262;
        }
        span.blue{
            color: #06b5a9;
        }
        &:hover{
            span.grey{
                color: #06b5a9;
            } 
            span.blue{
                color: #626262;
            }
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
        height: 86px;
    }
    .menu{
        width: 430px;
        height: 100%;
        margin-left: 22px;
        position: relative;
        .dropdown{
            min-width: 595px;
            height: 300px;
            background-color: #cf1a2b;
            position: absolute;
            display: none;
            overflow: hidden;
            z-index: 2;
            .asideblock{
                display: inline-block;
                .logoo{
                    width: 215px;
                    height: 70px;
                    text-align: center;
                    border-top: 1px solid #d94855;
                    border-bottom: 1px solid #d94855;
                    font-family: var(--myfont);
                    text-transform: uppercase;
                    font-size: 38px;
                    font-weight: bold;
                    line-height: 70px;
                    span:first-child{
                        color: #fff;
                    }
                    span:last-child{
                        color: #fec8cd;
                    }
                }
                .tie{
                    position: relative;
                    height: 300px - 70px;
                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .center{
                display: inline-flex;
                flex-direction: column;
                border-left: 1px solid #d94855;
                border-right: 1px solid #d94855;
                height: 298px;
                width: 190px;
                margin-left: -4px;
                font-size: 16px;
                box-shadow: inset 0px 25px 16px -34px rgba(0,0,0,0.59);
                a{
                    color: #fff;
                    text-decoration: none;
                    line-height: 30px;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-weight: 500;
                    font-family: var(--myfont);
                    &:hover{
                        background-color: #fff;
                        color: #cf1a2b;
                    }
                }
                a:first-child{
                    margin-top: 28px;
                }
            }
            .right{
                display: inline-flex;
                flex-direction: column;
                height: 298px;
                width: 190px;
                margin-left: -4px;
                font-size: 16px;
                box-shadow: inset 0px 25px 32px -34px rgba(0,0,0,0.59);
                a{
                    color: #fec8cd;
                    text-decoration: none;
                    line-height: 30px;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-weight: 500;
                    font-family: var(--myfont);
                    &:hover{
                        background-color: #fff;
                        color: #cf1a2b;
                    }
                }
                a:first-child{
                    margin-top: 28px;
                }
            }
            
        }
        .dropdown-contact{
            min-width: 300px;
            min-height: 300px;
            background-color: #cf1a2b;
            position: absolute;
            display: none;
            z-index: 2;
            box-shadow: inset 0px 25px 32px -34px rgba(0,0,0,0.59);
            position: relative;
            img{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            .fa-instagram{
                font-size: 40px;
                color: #fff;
                position: absolute;
                top: 65%;
                left: 10%;
                &:hover{
                    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
                    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .fa-facebook-square{
                font-size: 40px;
                color: #fff;
                position: absolute;
                top: 65%;
                right: 10%;
                &:hover{
                    color: #3b5998;
                }
            }
            .fa-phone{
                font-size: 40px;
                color: #fff;
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                &:hover{
                    color: aquamarine;
                }
            }
        }
        ul{
            display: flex;
            justify-content: flex-start;
            list-style: none;
            height: 100%;
            li{
                display: inline-block;
                font-size: 18px;
                color: #626262;
                font-family: var(--myfont);
                font-weight: 500;
                height: 100%;
                padding: 20px;
                padding-top: 36px;
                transition: .5s;
                cursor: pointer;
                &:nth-child(1){
                    padding-right: 18.5px;
                }
                &:nth-child(2){
                    padding-right: 16px;
                }
                &:nth-child(3){
                    padding-right: 24px;
                }
            }
        }
    }
    .orders{
        font-size: 24px;
        color: #9d9d9d;
        font-family: var(--myfont);
        font-weight: 500;
        padding-right: 25px;
        padding-top: 31px;
        img:first-child{
            margin-left: 2px;
            padding-right: 2px;
            display: inline-block;
        }
        img:last-child{
            margin-bottom: 2px;
            margin-right: -3px;
            display: inline-block;
            color: #9d9d9d;
        }
        .text{
            display: inline-block;
            padding-right: 5px;
        }
    }
}